# Byte-compiled / optimized / DLL files
__pycache__/

# pyenv
.python-version

# Environments
.venv

# pycharm
.idea/


# mac
.DS_Store

# presets
presets/

# tooling
/.claude

#
loosePartsTesting.py

tool_test_output.json
tool_test_output.html
